.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: lightskyblue;
    display: inline-block;

}

 #label:hover {
    background-color: red;
}

#label {
	cursor: pointer; /* "hand" cursor */
}

#label:focus {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.imgBtn {
    background-color: lightskyblue;
    font-size: 1.25em;
    font-weight: 700;

}

.imgBtn:hover{
    background-color: red;
}